# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
.env
.env.*

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Static/media
staticfiles/
media/

# OS files
.DS_Store
Thumbs.db
